<div class="users-show">








  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">投稿</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="new-field">
            <%= form_for @post do |p| %>
              <div class="field">
                <%= p.label :"お店の名前" %>
                <%= p.text_field :restaurant_name %>
              </div>
              <!-- <div class="field">
                <%= p.label "写真" %>
                <%= p.file_field :image %>
              </div> -->

              <%= p.file_field :image, id: 'post_img' %>
              <%#= f.label :image, "プロフィール画像" %>
              <!-- <img id="image_prev" src="/no_image.png" class='hidden' /> -->
              <%# if current_user.persisted? && current_user.image? %>
                <%#= image_tag current_user.image.to_s, id: "image_prev", class: 'hidden' %>

              <%# else %>
                <%= image_tag '', class: 'hidden', id: "image_prev" %>
                <%= p.hidden_field :image_cache %>
              <%# end %>


              <div class="field">
                <%= p.label "リンク" %>
                <%= p.text_field :url, class: "form" %>
              </div>
              <div class="field">
                <%= p.label "住所" %>
                <%= p.text_field :address, class: "form" %>
              </div>
              <div class="field">
                <%= p.label "ジャンル" %>
                <%= p.select :genre, [["ステーキ","ステーキ"],["焼き肉","焼き肉"]] %>
              </div>
              <div class="field">
                <%= p.label "味" %>
                <span id="taste-star"></span>
                <%= p.hidden_field :taste, id: "post-taste-star" %>
              </div>
              <div class="field">
                <%= p.label "コストパフォーマンス" %>
                <span id="cost_performance-star"></span>
                <%= p.hidden_field :cost_performance, id: "post-cost_performance-star" %>
              </div>
              <div class="field">
                <%= p.label "雰囲気" %>
                <span id="atmosphere-star"></span>
                <%= p.hidden_field :atmosphere, id: "post-atmosphere-star" %>
              </div>
              <div class="field">
                <%= p.label "サービス" %>
                <span id="service-star"></span>
                <%= p.hidden_field :service, id: "post-service-star" %>
              </div>
              <div class="field">
                <%= p.label "口コミ" %>
                <%= p.text_area :reputation, :maxlength => "255", class: "form-control" %>
              </div>

              <div class="modal-footer">
                <%= p.submit "投稿する", class: "btn btn-danger" %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>









  <div class="container">
    <div class="row">
      <div class="col-md-2">

      </div>
      <div class="col-md-8">
        <div class="profile">
          <div class="profile-top">
            <div class="page">
              <% if user_signed_in? && current_user.id.to_s == params[:id] %>
                <h2>マイページ</h2>
              <% else %>
                <h2><%= @user.name %>さんのページ</h2>
              <% end %>
            </div>

            <div class="profile-icons">

              <% if user_signed_in? && current_user.id.to_s == params[:id] %>
                <%= link_to profile_edit_path, class: "btn btn-danger" do %>
                  <span><i class="fas fa-user-edit"></i></span>
                <% end %>
              <% end %>

              <span><a href="/likes/liked_posts/<%= @user.id %>"><i class="far fa-heart btn btn-danger"></i></a></span>

              <% if @user.id == current_user.id %>
                <span><a href="/rooms"><i class="far fa-envelope btn btn-danger"></i></a></span>
              <% else %>
                <% if @isRoom == true %>
                  <span><a href="/rooms/<%= @roomId %>"><i class="far fa-comment btn btn-danger"></i></a></span>
                <% else %>
                  <%= form_for @room do |f| %>
                    <%= fields_for @entry do |e| %>
                      <%= e.hidden_field :user_id, :value=> @user.id %>
                    <% end %>
                    <%= button_tag type: "submit", class: "btn btn-danger" do %>
                      <span><i class="far fa-comment"></i></span>
                    <% end %>
                  <% end %>
                <% end %>
              <% end %>
            </div>

          </div>





          <div class="field">
            <span>名前：</span>
            <span><%= @user.name %></span>
          </div>
          <div class="field">
            <% if current_user.persisted? && current_user.image? %>
              <% if @user.image? %>
                <%= image_tag @user.image.to_s, class: "icon" %>
              <% else %>
                <%= image_tag '/no_image.png', class: "icon" %>
              <% end %>
            <% else %>
              <% if @user.image? %>
                <%= image_tag @user.image.to_s, class: "icon" %>
              <% else %>
                <%= image_tag '/no_image.png', class: "icon" %>
              <% end %>
            <% end %>
          </div>

          <div class="field">
            <span>年齢：</span>
            <span><%= @user.age %>歳</span>
          </div>
          <div class="field">
            <span>自己紹介（お肉への熱い想い）:</span>
            <span><%= @user.introduce %></span>
          </div>
        </div>
      </div>
      <div class="col-md-2">

      </div>
    </div>
  </div>





  <% @posts.each do |post| %>
    <div class="index-field">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="post-field">
              <div class="post-time">
                <%= post.created_at.strftime('%Y/%m/%d %H:%M') %>
              </div>
              <div class="post-block">
                <div class="first-block">
                  <div class="restaurant-field">
                    <span>お店の名前</span><br>
                    <%= link_to post.restaurant_name, post.url, class: "restaurant-name", target: "_blank" %>
                  </div>

                  <div class="field">
                    <span><%= image_tag post.image.to_s, class: "meat-image" %></span>
                  </div>
                </div>
                <div class="second-block">
                  <!-- <div class="field">
                    <span class="title">リンク</span><br>
                    <span>　<a href="<%= post.url %>" target="_blank"><%= post.url %></a></span>
                  </div> -->

                  <div class="field">
                    <span class="title">住所</span><br>
                    　
                    <span><%= post.address %></span>
                  </div>

                  <div class="field">
                    <span class="title">ジャンル</span><br>
                    　
                    <span><%= post.genre %></span>
                  </div>

                  <div class="field">
                    <span class="title">評価</span><br>
                    　
                    <span class="average-star" score="<%= post.average %>"></span>
                    <span><%= post.average %></span>
                  </div>

                  <div class="field">
                    <span class="title">口コミ</span><br>
                    　
                    <span><%= post.reputation %></span>
                  </div>

                  <div class="posts-show-like">
                    <a href="/posts/<%= post.id %>/likes" class="number-likes" id="number_like_<%= post.id %>"><%= post.likes.count %>件のいいね</a>
                    <div class="posts-show-like-icon">
                      <div id="likes_buttons_<%= post.id %>">
                         <%= render partial: 'likes/like', locals: { post: post } %>
                      </div>

                      <%= link_to post_path(post.id) do %>
                        <i class="fas fa-info-circle icon"></i>
                      <% end %>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>
  <div class="pagenation">
    <%= paginate @posts %>
  </div>


  <script>
    window.addEventListener('turbolinks:load',()=>{
      console.log("index");
      const allStars = $(".average-star")
      allStars.each((_, elem)=>{
        const stars = $(elem)
        stars.raty({
          path: "/",
          readOnly: true,
          score: stars.attr("score")
        })
      })
    });







    window.addEventListener('turbolinks:load',()=>{
      console.log("new");
      $('#taste-star').raty({
        path: "/",
        click: function(score, _) {
          $("#post-taste-star").val(score)
        }
      });
      $('#cost_performance-star').raty({
        path: "/",
        click: function(score, _) {
          $("#post-cost_performance-star").val(score)
        }
      });
      $('#atmosphere-star').raty({
        path: "/",
        click: function(score, _) {
          $("#post-atmosphere-star").val(score)
        }
      });
      $('#service-star').raty({
        path: "/",
        click: function(score, _) {
          $("#post-service-star").val(score)
        }
      });
    })
  </script>
</div>
