<div class="posts-new">
  <div class="container">
    <div class="row">
      <div class="new-field">
        <%= form_for @post do |p| %>
          <div class="field">
            <%= p.label :"お店の名前" %>
            <%= p.text_field :restaurant_name %>
          </div>
          <div class="field">
            <%= p.label "写真" %>
            <%= p.file_field :image %>
          </div>
          <div class="field">
            <%= p.label "リンク" %>
            <%= p.text_field :url %>
          </div>
          <div class="field">
            <%= p.label "住所" %>
            <%= p.text_field :address %>
          </div>
          <div class="field">
            <%= p.label "ジャンル" %>
            <%= p.select :genre, [["ステーキ","ステーキ"],["焼き肉","焼き肉"]] %>
          </div>
          <div class="field">
            <%= p.label "味" %>
            <span id="taste-star"></span>
            <%= p.hidden_field :taste, id: "post-taste-star" %>
          </div>
          <div class="field">
            <%= p.label "コストパフォーマンス" %>
            <span id="cost_performance-star"></span>
            <%= p.hidden_field :cost_performance, id: "post-cost_performance-star" %>
          </div>
          <div class="field">
            <%= p.label "雰囲気" %>
            <span id="atmosphere-star"></span>
            <%= p.hidden_field :atmosphere, id: "post-atmosphere-star" %>
          </div>
          <div class="field">
            <%= p.label "サービス" %>
            <span id="service-star"></span>
            <%= p.hidden_field :service, id: "post-service-star" %>
          </div>
          <div class="field">
            <%= p.label "口コミ" %>
            <%= p.text_area :reputation, :maxlength => "255", :size => "80x5"  %>
          </div>
          <%= p.submit "投稿" %>
        <% end %>

        <%= link_to "トップページ", root_path %>
      </div>
    </div>
  </div>
</div>


<script>
  window.addEventListener('turbolinks:load',()=>{
    console.log("new");
    $('#taste-star').raty({
      path: "/",
      click: function(score, _) {
        $("#post-taste-star").val(score)
      }
    });
    $('#cost_performance-star').raty({
      path: "/",
      click: function(score, _) {
        $("#post-cost_performance-star").val(score)
      }
    });
    $('#atmosphere-star').raty({
      path: "/",
      click: function(score, _) {
        $("#post-atmosphere-star").val(score)
      }
    });
    $('#service-star').raty({
      path: "/",
      click: function(score, _) {
        $("#post-service-star").val(score)
      }
    });
  })

</script>
